<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link link rel="stylesheet" href="../stylesheets/panel.css" />
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
    <title>Panel</title>
</head>
<body>
    <div class="wrapper">
        <div class="link">
            <a href="{{ link }}">{{ link }}</a>
        </div>
    </div>
</body>
</html>